body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.navigation-bar{
  background-color: salmon;
  height: 127px;
}


.navigation-container{
  padding-top: 10px;
  padding-left: 5px;
}

.logo{
  border-radius: 50px;
  float: left;
  width: 17%;
  margin: 10px; 
  margin-left:25 px; 
}

nav{
  float: right;
}

nav ul{
  list-style: none;
  padding-right: 60px;
  font-size: 30px;
  padding-top: 0px;
}

nav li{
  display: inline-block;
  margin-left: 30px;
}

.login-btn{
  padding: 10px 15px;
  background-color: greenyellow;
  border-radius: 15px;
}

a{
  text-decoration: none;
  color: black;
}

.soccer{
  height: auto;
  max-width: 100%;
}

.container{
  background-color: black;
}
