body{
  margin: 0px;
  padding: 0px;
}

.navigation-bar{
  background-color: salmon;
  height: 127px;
}


.navigation-container{
  padding-top: 10px;
  padding-left: 5px;
}

.logo{
  border-radius: 50px;
  float: left;
}

nav{
  float: right;
}

nav ul{
  list-style: none;
  padding-right: 60px;
  font-size: 30px;
}

nav li{
  display: inline-block;
  margin-left: 30px;

}
